@import "tailwindcss";

@keyframes marquee-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes marquee-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee-right {
  animation: marquee-right 30s linear infinite;
}

.animate-marquee-left {
  animation: marquee-left 30s linear infinite;
}
